.chessboard {
	margin: 0 auto 0 auto;
	padding: 2rem;
	width: fit-content;
	display: grid;
	grid-template-columns: repeat(8, 5em);
	grid-template-rows: repeat(8, 5em);
}

.white {
	font-size: 2rem;
}

.black {
	background-color: black;
	color: white;
	font-size: 2rem;
}
