:root {
	--bookcase-colour: #743624;
	--cabinet-colour: #c25e2c;
	--bookcase-background: #7e3d2f;
}

html {
	min-height: 100%;
	background: url('./assets/bookstore4k.jpg');
	background-size: 100% 100%;
}
main {
	display: flex !important;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	height: 100vh;
}
.bookcase {
	background-color: var(--bookcase-colour);
	display: grid;
	grid-auto-rows: 0.75fr;
	height: 80vh;
	min-width: 25vw;
}

.bookshelf-container {
	display: grid;
	grid-auto-rows: 1fr;
	gap: 1rem;
	grid-row: span 2;
	margin: 1rem;
	background-color: var(--bookcase-colour);
}

.cabinet {
	display: grid;
	grid-auto-columns: 0.5fr;
	grid-auto-flow: column;
	padding: 1rem;
	gap: 1rem;
	span {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		background-color: var(--cabinet-colour);
	}
	span:nth-child(1) {
		justify-content: flex-end;
	}
	span:nth-last-child(1) {
		justify-content: flex-start;
	}
}

.bookshelf {
	background-color: var(--bookcase-background);
	display: flex;
}

.book {
	min-width: 5%;
	text-align: center;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	background-color: orange;
	transition: all 0.13s ease-in-out;
}

.book:hover {
	transform: translateY(-35px);
	scale: 1.08;
	cursor: pointer;

	-webkit-box-shadow: 0px 0px 18px 12px rgba(255, 255, 255, 0.76);
	-moz-box-shadow: 0px 0px 18px 12px rgba(255, 255, 255, 0.76);
	box-shadow: 0px 0px 18px 12px rgba(255, 255, 255, 0.76);
}
