.bookshelf {
	background-color: var(--bookcase-background);
	display: flex;
	padding: 0;
	margin: 0;
	height: 90%;
}

.book {
	width: clamp(5%, 3em, 15%);
	text-align: center;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	background-color: orange;
	transition: all 0.13s ease-in-out;
	list-style: none;
	position: relative;
	& a {
		text-decoration: none;
		color: inherit;
	}
}

.book:hover {
	transform: translateY(-35px);
	scale: 1.08;
	cursor: pointer;

	-webkit-box-shadow: 0px 0px 18px 12px rgba(255, 255, 255, 0.76);
	-moz-box-shadow: 0px 0px 18px 12px rgba(255, 255, 255, 0.76);
	box-shadow: 0px 0px 18px 12px rgba(255, 255, 255, 0.76);
}

.book:hover .tooltip {
	transition-delay: 0.3s;
	visibility: visible;
}
.tooltip {
	visibility: hidden;
	writing-mode: horizontal-tb;
	width: 350px;
	right: 50px;
	top: 20px;
	background-color: #ffffff44;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	height: 80px;
	overflow: hidden;
	padding: 0.5em;
}
