.page {
	height: 100vh;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.article {
	display: flex;
	justify-content: center;
	width: 60vw;
	padding: 2rem;
	background-color: var(--cabinet-colour);
}
.wrapper {
	margin: 0 2rem 0 2rem;
}
.image {
	width: 300px;
	justify-self: flex-start;
}
.para {
	height: fit-content;
}
.header {
	height: fit-content;
}
.description {
	font-size: 18px;
	line-height: 1.55;
}

.descriptionWrapper {
	display: flex;
	flex-direction: column;
}

.link {
	text-decoration: none;
	color: black;
	text-align: center;
	padding: 1rem;
	border: 2px solid white;
	width: 20%;
	transition: 45ms all ease-out;
}

.link:hover {
	transform: translateY(-4px);
	background-color: white;
	scale: 1.08;
	cursor: pointer;
}
