.bookcase {
	background-color: var(--bookcase-colour);
	display: grid;
	grid-auto-rows: 0.75fr;
	height: 80vh;
	min-width: 25vw;
}

.container {
	display: grid;
	grid-auto-rows: 33%;
	gap: 1rem;
	grid-row: span 2;
	margin: 1rem;
	background-color: var(--bookcase-colour);
}

.cabinet {
	display: grid;
	grid-auto-columns: 0.5fr;
	grid-auto-flow: column;
	padding: 1rem;
	gap: 1rem;
	span {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		background-color: var(--cabinet-colour);
	}
	span:nth-child(1) {
		justify-content: flex-end;
	}
	span:nth-last-child(1) {
		justify-content: flex-start;
	}
}
